@using HotelBooking.Models.RoomModels
@model IEnumerable<Room>

<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class=" text-black">
                Rooms
            </h2>
        </div>
        <div class="col-6 text-end">
            <a class=" btn btn-outline-dark w-50 h-100" asp-controller="Room" asp-action="Upsert">
                <h5 class="text">Create New Room</h5>
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
            <th>Room Number</th>
            <th>Floor</th>
            <th>Availability</th>
            <th>Room type</th>
            
            </tr>
        </thead>
        @foreach (var room in Model)
        {
         <tr>

             <td>@room.RoomNumber</td>
             <td>@room.Floor</td>
                @if (@room.IsAvailable == true)
                {
                    <td>Available</td>
                }
                @if (@room.IsAvailable == false)
                {
                    <td>Not Available</td>
                }
                @if(@room.Capacity==1)
                {
                    <td>Single</td>
                }
                
             @if(@room.Capacity==2)
                {
                    <td>Double</td>
                }
                
             @if(@room.Capacity>=3)
                {
                    <td>Suites</td>
                }
         </tr>   
        }
    </table>
</div>